@import "tailwindcss";

@theme {
  /* Use the exact variable name JS is updating */
  --color-accent: var(--accent);
}

/* Ensure this is on :root so it's globally accessible */
:root {
  --accent: #22c55e;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
